<header>

    <div class="container">
        <div class="heading-wrapper">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-md-pin"></i>
                        <div class="right-area">
                            <h5>Argentina</h5>
                            <h5>Las Calandrias 3219</h5>
                        </div>
                        <!-- right-area -->
                    </div>
                    <!-- info -->
                </div>
                <!-- col-sm-4 -->

                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-md-call"></i>
                        <div class="right-area">
                            <h5>337-4139538</h5>
                            <h6>MIN - FRI,8AM - 7PM</h6>
                        </div>
                        <!-- right-area -->
                    </div>
                    <!-- info -->
                </div>
                <!-- col-sm-4 -->

                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-chatboxes"></i>
                        <div class="right-area">
                            <h5>cgomezluengo@gmail.com</h5>
                            <h6>REPLY IN 24 HOURS</h6>
                        </div>
                        <!-- right-area -->
                    </div>
                    <!-- info -->
                </div>
                <!-- col-sm-4 -->
            </div>
            <!-- row -->
        </div>
        <!-- heading-wrapper -->

        <app-downloadcv></app-downloadcv>
    </div>
    <!-- container -->
</header>