<section class="about-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="heading">
                    <h3><b>About me</b></h3>
                    <h6 class="font-lite-black"><b>PROFESSIONAL PATH</b></h6>
                </div>
            </div>
            <!-- col-sm-4 -->
            <div class="col-sm-8">
                <p class="margin-b-50">I have 2+ years of experience as an IT programmer. My tasks consist but are not limited to: Analysis, development and maintainance of web apps and mobiles. Some of the tools at my disposal are:
                </p>
                <p class="margin-b-50">Java .Net Python JavaScript Typescript React Node js Hibernate AWS Relational DBMS Andriod Web Services HTML CSS PHP Office 365 Servers configuration and administration Linux envoiroment</p>

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="radial-prog-area margin-b-30">
                            <div class="radial-progress" data-prog-percent=".97">
                                <div></div>
                                <h6 class="progress-title">HTML5 & CSS3</h6>
                            </div>
                        </div>
                        <!-- radial-prog-area-->
                    </div>
                    <!-- col-sm-6-->

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="radial-prog-area margin-b-30">
                            <div class="radial-progress" data-prog-percent=".78">
                                <div></div>
                                <h6 class="progress-title">PYTHON</h6>
                            </div>
                        </div>
                        <!-- radial-prog-area-->
                    </div>
                    <!-- col-sm-6-->

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="radial-prog-area margin-b-30">
                            <div class="radial-progress" data-prog-percent=".82">
                                <div></div>
                                <h6 class="progress-title">JAVA</h6>
                            </div>
                        </div>
                        <!-- radial-prog-area-->
                    </div>
                    <!-- col-sm-6-->

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="radial-prog-area margin-b-50">
                            <div class="radial-progress" data-prog-percent=".79">
                                <div></div>
                                <h6 class="progress-title">ANGULAR/IONIC</h6>
                            </div>
                        </div>
                        <!-- radial-prog-area-->
                    </div>

                </div>
                <!-- row -->
            </div>
            <!-- col-sm-8 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<!-- about-section -->