<section class="experience-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="heading">
                    <h3><b>Work Experience</b></h3>
                    <h6 class="font-lite-black"><b>PREVIOUS JOBS</b></h6>
                </div>
            </div>
            <!-- col-sm-4 -->
            <div class="col-sm-8">

                <div class="experience margin-b-50">
                    <h4><b>FULL STACK DEVELOPOER</b></h4>
                    <h5 class="font-yellow"><b>PERRONE AND ASSOCIATES</b></h5>
                    <h6 class="margin-t-10">MARCH 2019 - PRESENT</h6>
                    <p class="font-semi-white margin-tb-30">Web and mobile Developer </p>
                    <ul class="list margin-b-30">
                        <li>ANGULAR/IONIC.</li>
                        <li>Firebase.</li>

                    </ul>
                </div>
                <!-- experience -->

                <div class="experience margin-b-50">
                    <h4><b>DEVELOPER</b></h4>
                    <h5 class="font-yellow"><b>MUNICIPALIDAD DE JUNIN</b></h5>
                    <h6 class="margin-t-10">APRIL 2015 - FEBRUARY 2018</h6>
                    <p class="font-semi-white margin-tb-30">Full Stack developoer and research team </p>
                    <ul class="list margin-b-30">
                        <li>Developement</li>
                        <li>Android</li>
                        <li>Java</li>
                        <li>Configuration of eGroupware (System tickets) </li>
                        <li>Openldap (Setup and configuration)</li>
                        <li>Microsoft Office 365 ( Setup and migrate) </li>

                    </ul>
                </div>
                <!-- experience -->

            </div>
            <!-- col-sm-8 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->

</section>
<!-- experience-section -->